:root {
    --violet: #9356DC ;
    --rose: #FF79DA;
    --vert: #99E2D0;
    }

Body {
    font-family: roboto;
    margin: 0px;
}

/* PARTIE LOGO ET HEADER */
.header_logo {
    display: flex;
    justify-content: center;
    padding: 20px 0px 20px 0px;
}

.titre-principal {
    display: flex;
    align-items: center;
    gap: 4rem;
    font-family: 'Shrikhand';
    justify-content: center;
}

.coeur .fas {
    font-size: 28px;
    color: white;
    -webkit-text-stroke: 2px black;
    }
    
    .coeur .fas:hover {
        font-size: 28px;
        background: linear-gradient(165deg,#9356DC,#FF79DA);
        background-clip: text;
        -webkit-background-clip: text;
        -moz-background-clip: text;
        -moz-text-fill-color: transparent;
        -webkit-text-fill-color: transparent;
        -webkit-text-stroke: 0px black; 
    }

.logo {
    width: 200px;
    position: relative;
    text-align: center;
}    

.image-restaurant {
    width: 100%;
    height: 30rem;
    object-fit: cover;
}

.soustitre-menu hr {
    border: 0;
    border-top: 0.2rem solid #92e0cd;
    margin-top: -5%;
    width: 2rem;
    margin-left: 0rem;
    margin-bottom: 1rem;
}

.soustitre-menu h3 {
    font-weight: lighter;
}


main {
    background-color: #f6f6f6;
    margin-top: -6%;
    position: relative;
    border-radius: 4rem;
}

section {
    display: grid;
    grid-template-columns: 33% 33% 33%;
    justify-items: center;
}



.bouton_commander {
    display: flex;
    justify-content: center;
    padding: 3rem 0;
}



.bouton_commander button {
    font-weight: 600;
    color: white;
    font-size: 17px;
    width: 11rem;
    height: 3.5rem;
    border-radius: 2rem;
    border: none;
    background-image: linear-gradient(180deg,#FF79DA,#9356DC);
}


/* FOOTER PALETTE DU GOUT */
.footer-restaurant {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: -15px;
    }
    
    .footer-partenaire {
        align-items: center;
        display: flex;
        gap: 10px;
    }
    
    .footer-wrapper {
        color: white;
        padding: 1px 0px 20px 20px;
    }
    
    footer {
        background-color: #353535;
    }
    
    .footer-text-bottom {    
        display: flex;
        flex-direction: column;
        gap: 15px;
    }
    
    .footer-text-bottom p {
        padding: 0px;
        margin: 0px;
    }
    
    .logo-footer h2 {
        font-family: 'Shrikhand';
        font-weight: lighter;
    }



    .prix-plat span {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    width: 22rem;
    margin-top: -1rem;
    }

    .fiche-plats {
        display: grid;
        line-height: 0rem;
        box-shadow: 3px 3px 10px rgb(0 0 0 / 19%);
        border-radius: 1rem;
        padding: 0.5rem;
        margin-bottom: 2rem;
        width: 22rem;
        height: 5rem;
    }

    .icone-check {
      background-color: #99e2d0;
      display: flex;
      width: 6.1rem;
      height: 6.1rem;
      border-radius: 0rem 1rem 1rem 0rem;
      margin-right: 4rem;
      margin: -4.8rem 0rem -1rem 16.5rem;
      align-items: center;
      justify-content: center;
      overflow: hidden;
      text-overflow: clip;
      animation: 0.5s ease-out checkout;
      opacity: 0;
    }

    .icone-check i {
      font-size: 1.75rem;
      transition: transform 1s;
      color: white;
      }

      .fiche-plats:hover {
        transition: all 1s ease-out;
      }
      
      .fiche-plats:hover .icone-check {
        opacity: 1;
        animation: 0.5s ease-in reverse both icone-check;
      }
    

      



/* RESPONSIVE */

@media (max-width: 1150px) {

    section {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

main {
    margin-top: -10%;
}






}