:root {
    --violet: #9356DC ;
    --rose: #FF79DA;
    --vert: #99E2D0;
    }

Body {
    font-family: roboto;
    margin: 0px;
}

/* PARTIE LOGO ET HEADER */
.header_logo {
    display: flex;
    justify-content: center;
    padding: 20px 0px 20px 0px;
}

.logo {
    width: 200px;
    position: relative;
    text-align: center;
}    

.image-restaurant {
    width: 120rem;
    height: 30rem;
    object-fit: cover;
}


body h1 {
    font-family: 'Shrikhand';
    text-align: center;
}


section {
    display: grid;
    grid-template-columns: 33% 33% 33%;
    justify-items: center;
}



.bouton_commander {
    display: flex;
    justify-content: center;
    padding: 3rem 0;
}



.bouton_commander button {
    font-weight: 600;
    color: white;
    font-size: 17px;
    width: 11rem;
    height: 3.5rem;
    border-radius: 2rem;
    border: none;
    background-image: linear-gradient(180deg,#FF79DA,#9356DC);
}


/* FOOTER PALETTE DU GOUT */
.footer-restaurant {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: -15px;
    }
    
    .footer-partenaire {
        align-items: center;
        display: flex;
        gap: 10px;
    }
    
    .footer-wrapper {
        color: white;
        padding: 1px 0px 20px 20px;
    }
    
    footer {
        background-color: #353535;
    }
    
    .footer-text-bottom {    
        display: flex;
        flex-direction: column;
        gap: 15px;
    }
    
    .footer-text-bottom p {
        padding: 0px;
        margin: 0px;
    }
    
    .logo-footer h2 {
        font-family: 'Shrikhand';
        font-weight: lighter;
    }